{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="m-0">
                            学生名单
                            <small>列表</small>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 search-collapse">
                    <form id="search_form" method="post">
                        <div class="form-group row">
                            <label for="inputtext" class="col-form-label">学号或名字：</label>
                            <div class="col-md-4">
                                <input type="text" id="search_name" name="name" class="form-control" placeholder="请输入学号或名字"/>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-info"><i class="fa fa-plus"></i>查询</button>
                                <a class="btn btn-primary single" href="{{ url_for('dish_add' ) }}">
                                    <i class="fa fa-plus"></i> 新增
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="col-sm-12 main">
        <br>
        <div class="panel panel-primary">
            <div class="panel-body">
                <table class="table table-bordered table-condensed table-striped table-hover">
                    <thead>
                    <tr>
                        <th>学号</th>
                        <th>名字</th>
                        <th>密码</th>
                        <th>个人信息</th>
                        <th>自我描述</th>
                        <th>功能操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if students %}
                        {% for student in students %}
                            <tr>
                                <td>{{ student.student_id }}</td>
                                <td>{{ student.name }}</td>
                                <td>{{ student.password }}</td>
                                {% if student.profile.gender == 'Male' %}
                                    <td>{{ student.profile.age }} <br>
                                        男 <br>
                                    </td>
                                {% else %}
                                    <td>{{ student.profile.age }} <br>
                                        女 <br>
                                    </td>
                                {% endif %}
                                <td>{{ student.profile.description }}</td>
                                <td width="20%">
                                    <a class="btn btn-primary single" href="#">
                                        <i class="fa fa-edit"></i> 修改
                                    </a>
                                    <a class="btn btn-danger" href="javascript:void(0)" onclick="showDeleteModal(this)">删除</a>
                                    <input type="hidden" id="id_hidden" value={{ student.student_id }}>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7">无相关记录！</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-  header">
                <h4 class="modal-title" style="float:left">提示信息</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body">
                <p id="info">您确认要删除当前数据吗？</p>
                <input type="hidden" id="del_id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a id="delButton" class="btn btn-success" data-dismiss="modal">确定</a>
            </div>
        </div>
    </div>
</div>
<script>
    // 打开模态框并设置需要删除的ID
    function showDeleteModal(obj) {
            var $tds = $(obj).parent().children();// 获取到删除元素的所在列
            var delete_id = $($tds[2]).val();// 获取隐藏控件的ID
            console.log(delete_id)
            $("#del_id").val(delete_id);// 给模态框中需要删除的ID赋值
            $("#delModal").modal({
                backdrop: 'static',
                keyboard: false
            })
        };

    $(function () {
        // 模态框的确定按钮的点击事件
        $("#delButton").click(function () {
            var id = $("#del_id").val();
            console.log("del" + id)
            // ajax异步删除
            $.ajax({
                url: "/stu_del",
                type: "POST",
                data:{stu_id: id},
                success: function (result) {
                    if (result.code == "200") {
                        $("#delModal").modal("hide");
                        alert(result.message);
                        window.location.href = "{{ url_for('stu_list') }}";
                    }
                    else{
                        alert(result.message);
                    }
                }
            })
        });
    });
</script>
{% endblock %}