{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper" style="min-height: 624.4px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">可视化</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for('index' ) }}">首页</a></li>
              <li class="breadcrumb-item active">可视化</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <section class="content">
      <div class="container-fluid text-center">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ len_stu }}</h3>

                <p>学生人数</p>
              </div>
              <a href="{{ url_for('stu.stu_list' ) }}" class="small-box-footer">更多信息<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ len_dish }}</h3>

                <p>菜品数量</p>
              </div>
              <a href="{{ url_for('dish.dish_list' ) }}" class="small-box-footer">更多信息<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <div class="row">
            <section class="col-lg-6 connectedSortable">
                <!-- PIE CHART -->
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">菜品消费情况（前五位）</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            <section class="col-lg-6 connectedSortable">

                <!-- BAR CHART -->
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">就餐时间</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="barChart"
                                    style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            <section class="col-lg-6 connectedSortable">

              <!-- BAR CHART -->
              <div class="card card-success">
                  <div class="card-header">
                      <h3 class="card-title">学生就餐位置次数</h3>

                      <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                          </button>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="chart">
                          <canvas id="polarAreaChart"
                                  style="min-height: 250px; height: 250px; max-height: 500px; max-width: 100%;"></canvas>
                      </div>
                  </div>
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </section>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <script>
    $(function(){
        var charData = {
            labels: {{ labels|safe }},
            datasets: [
                {
                    label: '123',
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                    data: {{ datas }},
                },
            ]
        }
        var charData_2 = {
            labels: {{ time_labels|safe }},
            datasets: [
                {
                    label: '就餐时间',
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                    data: {{ time_num }},
                },
            ]
        }
        var charData_3 = {
            labels: {{ location_labels|safe }},
            datasets: [
                {
                    label: '就餐位置',
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                    data: {{ location_num }},
                },
            ]
        }

        var maxDataValue1 = Math.max.apply(null, {{ time_num }});
        var polarAreaChartCanvas = $('#polarAreaChart').get(0).getContext('2d')
        var polarAreaData = charData_3
        var polarAreaOptions = {
            responsive: true,
            maintainAspectRatio: false,
            scale: {
                ticks: {
                    beginAtZero: true,
                    max: maxDataValue1 + 2
                },
                reverse: false
            }
        }
        var polarAreaChart = new Chart(polarAreaChartCanvas, {
            type: 'polarArea',
            data: polarAreaData,
            options: polarAreaOptions
        })

        var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
        var pieData = charData
        var pieOptions = {
            maintainAspectRatio: false,
            responsive: true,
        }
        
        var pieChart = new Chart(pieChartCanvas, {
            type: 'pie',
            data: pieData,
            options: pieOptions
        })
        
        var maxDataValue = Math.max.apply(null, {{ time_num }});
        var barChartCanvas = $('#barChart').get(0).getContext('2d')
        var barchartOptions = {
            responsive: true,
            maintainAspectRatio: false,
            datasetFill: false,
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 1,
                        max: maxDataValue + 2
                    }
                }]
            }
        }
        var barChart = new Chart(barChartCanvas, {
            type: 'bar',
            data: charData_2,
            options: barchartOptions
        })

    })
  </script>
  
{% endblock %}