{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="{{ url_for('dish.dish_list') }}">餐饮管理</a></li>
                            <li class="breadcrumb-item active">菜品增加</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <style>
                .flask-msg {
                    position: relative;
                    padding: 15px 15px;
                    margin-bottom: 10px;
                    border: 1px solid transparent;
                    color: #004085;
                    background-color: #cce5ff;
                    border-color: #b8daff;
                }
            </style>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <div class="flask-msg">{{ message }}</div>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">菜品信息增加</h3>
                            </div>
                            <form class="form-horizontal" method="post" enctype="multipart/form-data" novalidate>
                                {{ form.csrf_token }}
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="{{ form.name.id_for_label }}"
                                            class="col-sm-2 col-form-label">{{ form.name.label }}</label>
                                        <div class="col-sm-10">
                                            {{ form.name }}
                                            <span style="color: red">{{ form.name.errors[0] }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="{{ form.category.id_for_label }}"
                                            class="col-sm-2 col-form-label">{{ form.category.label }}</label>
                                        <div class="col-sm-10">
                                            {{ form.category }}
                                            <span style="color: red">{{ form.category.errors[0] }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="{{ form.img_url.id_for_label }}" class="col-sm-2 col-form-label">菜品图片</label>
                                        <div class="col-sm-10">
                                            {{ form.img_url }}
                                            <span style="color:red">{{ form.img_url.errors[0] }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="{{ form.calories.id_for_label }}"
                                            class="col-sm-2 col-form-label">{{ form.calories.label }}</label>
                                        <div class="col-sm-10">
                                            {{ form.calories }}
                                            <span style="color: red">{{ form.calories.errors[0] }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="{{ form.location.id_for_label }}"
                                            class="col-sm-2 col-form-label">{{ form.location.label }}</label>
                                        <div class="col-sm-10">
                                            {{ form.location }}
                                            <span style="color: red">{{ form.location.errors[0] }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="{{ form.price.id_for_label }}"
                                            class="col-sm-2 col-form-label">{{ form.price.label }}</label>
                                        <div class="col-sm-10">
                                            {{ form.price }}
                                            <span style="color: red">{{ form.price.errors[0] }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="{{ form.allergens.id_for_label }}"
                                            class="col-sm-2 col-form-label">{{ form.allergens.label }}</label>
                                        <div class="col-sm-10">
                                            {{ form.allergens }}
                                            <span style="color: red">{{ form.allergens.errors[0] }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="{{ form.description.id_for_label }}"
                                            class="col-sm-2 col-form-label">{{ form.description.label }}</label>
                                        <div class="col-sm-10">{{ form.description }}
                                            <span style="color: red">{{ form.description.errors[0] }}</span>
                                        </div>
                                    </div>    
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-info">保存</button>
                                        <button type="button" class="btn btn-default"><a href="{{ url_for('dish.dish_list' ) }}">返回</a>
                                        </button>
    {#                                    <span style="color:red">{{ info }}</span>#}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
    </div>
{% endblock %}